.withdraw {
    & .card-body {
        display: flex;
        flex-direction: column;
        &> p {
            font-weight: bold;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        &> div:first-child {
            display: flex;
            flex-direction: column;
        }
        & .form-group label {
            font-weight: bold;
        }
    }
}
