@import "./SignInScreen/SignInScreen.pcss";
@import "./SignUpScreen/SignUpScreen.pcss";
@import "./ChangeForgottenPasswordScreen/ChangeForgottenPasswordScreen.pcss";
@import "./WalletsScreen/WalletsScreen.pcss";
@import "./TradingScreen/TradingScreen.pcss";
@import "./EmailVerification/EmailVerification.pcss";
@import "./ForgotPassword/ForgotPassword.pcss";
@import "./LandingScreen/LandingScreen.pcss";
@import "./History/HistoryTab.pcss";
@import "./ConfirmScreen/ConfirmScreen.pcss";
@import "./ProfileScreen/ProfileScreen.pcss";
@import "./ProfileTwoFactorAuthScreen/ProfileTwoFactorAuthScreen.pcss";
@import "./OrdersTabScreen/OrdersTabScreen.pcss";
@import "./PaymentsScreen/PaymentsScreen.pcss";
@import "./RestrictedScreen/RestrictedScreen.pcss";
@import "./MaintenanceScreen/MaintenanceScreen.pcss";
@import "./DashboardScreen/DashboardScreen.pcss";
@import "./ReferralScreen/ReferralScreen.pcss";
@import "./DepositRiyalScreen/DepositRiyalScreen.pcss";
@import "./WithdrawScreen/WithdrawScreen.pcss";
@import "./WalletDetailsScreen/WalletDetailsScreen.pcss";
@import "./FastOrderScreen/FastOrderScreen.pcss";
@import "./PrivacySettingScreen/PrivacySettingScreen.pcss";
@import "./MainTradingScreen/MainTradingScreen.pcss";
