@import "./basic.pcss";
@import "./light.pcss";

.ltr {
    direction: ltr !important;
    text-align: left !important;
}

.react-grid-item {
    left: 0;
    cursor: inherit;
}

#comingSoon{
    img{
        width: 50%;
        height: 100%;
        object-fit: contain;
    }

    .desc{
        line-height: 50px;
    }
}
