.pg-alerts {
  position: fixed;
  left: calc(var(--gap) * 2);
  top: calc(var(--gap) * 8);
  z-index: 100000;
  opacity: .9;
  text-align: right;
}

.pg-alerts-mobile{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000;
  opacity: .9;
  width: 100%;
  text-align: center;
}
