.bankIcon{
    width: 100px;
}
.bankInfo {
    &__cardNum {
        & .form-control {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-bottom-right-radius: calc(var(--gap) * 0.5) !important;
            border-top-right-radius: calc(var(--gap) *0.5) !important;
        }
    }
}