.currencyInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
    .cr-table-container {
        .cr-table {
            width: 85%;
            margin: 0 auto;
        }
    }
}
