.easy-qrcode {
    & img {
        display: none !important;
    }
    & canvas {
        display: inline-block !important;
        border: 2px solid var(--qrcode-border-color);
        padding: calc(var(--gap) * 2);
        background-color: var(--white);
    }
}
