@import "node_modules/bootstrap/scss/bootstrap";

$enable-gradients: true;
$enable-shadows: true;

body {
  font-family: iranyekan, serif;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: white !important;
  }

  .card {
    color: var(--primary-text-color);
    background-color: var(--header-background-color);
    text-align: right;
    height: 100%;

    .card-header {
      background-color: var(--subheader-background-color);
      box-shadow: inset 0 -1px 0 var(--divider-color-level-1);
    }
  }

  .table {
    text-align: right;
    color: var(--primary-text-color);

    th {
      padding: 10px;
    }

    td {
      padding: 10px;
      vertical-align: middle;
    }
  }

  .form-group {
    .is-valid, .is-invalid {
      background-position: left calc(0.375em + 0.1875rem) center;
      padding-left: calc(1.5em + 0.75rem);
      padding-right: 5px;
    }
  }

  .modal {
    z-index: 99999;

    .modal-header {
      .close {
        margin: -1rem 0 !important;
      }
    }

    .modal-content {
      text-align: right;
    }
  }

  .input-group {
    .input-group-append {
      .btn {
        border-radius: .25rem 0 0 .25rem;
      }
    }
  }
}



